@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                @*http://www.cyberforum.ru/asp-net-mvc/thread1907789.html*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
            @*<li> @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserRole() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>*@
        </ul>
    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            @*<li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
            <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            @*<li><button id='showGame'>Show Game Listing</button></li>*@
        </ul>
}
       

<script>
    $(document).ready(function () {
        $('#showGame').click(function () {
            var url = $('#gameModal').data('url');

            $.get(url, function (data) {
                $('#gameContainer').html(data);

                $('#gameModal').modal('show');
            });
        });
    });
</script>